@import './colors';

button.reset {
  border: 0;
  text-shadow: none;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
  cursor: pointer;
}

.visible {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html {
  background-color: $dark-color;
}

/*** For classes that tell you to subscribe to podcasts ***/
.content h4 {
  color: $warm-color;
  text-align: center;
  margin-top: 100px;
}

/* Make it a marquee */
.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation-play-state: paused
}

.marquee:hover {
    animation: marquee 8s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0em }
    50%   { text-indent: -25em; opacity: 1}
    51% {opacity: 0}
    52% { text-indent: 25em; opacity: 0}
    53% { opacity: 1}
    100% { text-indent: 0em }
}
