// @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open-sans', sans-serif;
}

@font-face {
  font-family: "Archer Book";
  src: font-url("fonts/Archer-Light.woff2") format('woff2');
}

@font-face {
  font-family: "Archer Book";
  src: assets-url("fonts/Archer-Book.woff2") format('woff2');
  font-style: bold;
}

@font-face {
  font-family: "Archer Book";
  src: font-url("fonts/Archer-BookItalic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Myriad Pro";
  src: font-url("fonts/MyriadPro-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Myriad Pro";
  src: font-url("fonts/MyriadPro-Bold.woff2") format('woff2');
  font-style: bold;
}


@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro-Light.woff2") format('woff2');
    font-style: italic;
}
