// Small devices (landscape phones, 576px and up)
$break-xs: 576px;

// Medium devices (tablets, 768px and up)
$break-sm: 768px;

// Large devices (desktops, 992px and up)
$break-md: 992px;

// Extra large devices (large desktops, 1200px and up)
$break-lg: 1200px;
