// Small devices (landscape phones, 576px and up)
$break_xs: 576px;

// Medium devices (tablets, 768px and up)
$break_sm: 768px;

// Large devices (desktops, 992px and up)
$break_md: 992px;

// Extra large devices (large desktops, 1200px and up)
$break_lg: 1200px;
