@import '../base/colors';
@import '../base/fonts';

section.auth {
  font-family: "Archer Book", serif;
  font-style: italic;
  // font-family: 'Josefin Slab', serif;
  font-size: 1em;
  position: relative;

  .hero {
    &.neutral {
      background-color: $yellow;
    }
    &.login {
      background-color: $green;
    }
    &.signup {
      background-color: $yellow;
    }

    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;

    &.center {
      justify-content: center;
      align-items: center;
    }
  }

  #logo {
    align-items: flex-start;
    justify-content: flex-start;
    img {
      width: 100px;
    }
  }

  div#oButtons {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 100px;
  }

  #oSideText b {
      position: relative;
      left: -314px;
      font-size: 2em;
  }

  div#oStrongText {
      /* background-color: black; */
      font-size: 4em;
      text-align: center;
      b {
        background-color: black;
        color: white;
        padding: 46px 16px;
      }
  }
}
