@import '../base/colors';
@import '../base/fonts';

section.auth {
  font-family: "Archer Book", serif;
  font-style: italic;
  // font-family: 'Josefin Slab', serif;
  font-size: 1em;
  position: relative;

  .hero {
    &.neutral {
      background-color: $yellow;
    }
    &.login {
      background-color: $green;
    }
    &.signup {
      background-color: $yellow;
    }

    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;

    &.center {
      justify-content: center;
      align-items: center;

      .btn {
        margin-top: 20px;
        margin-right: 30px;
      }
    }

    strong {
      background-color: black;
      color: white;
      padding: 35px 14px;
      margin-left: 21px;
      float: right;
    }
  }

  #logo {
    align-items: flex-start;
    justify-content: flex-start;
    img {
      width: 100px;
    }
  }
}
