@import '../base/fonts';
@import '../base/colors';
@import '../base/media';

.discover {
  background-color: $dark-color;
  .searchDiv{
    height: 70px;
    font-weight: bold;
    font-size: xx-large;
    display: inline-block;
    width: 100%;
    color: $light-color;
    i.fa {
      position: absolute;
      left: 0;
      font-size: 1.5em;
      margin: 10px;
    }
    input {
      font-weight: inherit;
      font-size: xx-large;
      text-align: center;
      width: 100%;
      color: inherit;
    }
    .bar {
      width: 100%;
    }
    button.btn-outline-info {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      color: $light-color;
      border-color: $light-color;
      &:hover {
        background-color: $light-color;
        color: $dark-color;
      }
    }
  }
}

.modal-content {
  background-color: $medium-color;
  .mood-grid-row {
    display: inline-block;
    font-size: 10px;
    width: 100%;
  }
  .mood-grid-box {
    width: 25%;
    display: inline-block;
    padding: 15px;
    img {
      width: 100%;
    }
  }
}

@media(max-width: $break-md){
  .searchDiv .input {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
  }
}
