@import '../base/fonts';
@import '../base/colors';
@import '../base/media';

.discover {
  background-color: $dark-color;
  .searchDiv{
    height: 70px;
    font-weight: bold;
    font-size: xx-large;
    display: inline-block;
    width: 100%;
    color: $light-color;
    i.fa {
      position: absolute;
      left: 0;
      font-size: 1.5em;
      margin: 10px;
    }
    .mood-grid-box {
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover {
        color: #ff6000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
      }
    }
    input {
      font-weight: inherit;
      font-size: xx-large;
      text-align: center;
      width: 100%;
      color: inherit;
    }
    .bar {
      width: 100%;
    }
    button.btn-outline-info {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      color: $light-color;
      border-color: $light-color;
      &:hover {
        background-color: $light-color;
        color: $dark-color;
      }
    }
  }
}

.modal-content {
  background-color: $medium-color;
  .mood-body {
    text-align: center;
  }
  .mood-grid-row {
    display: inline-block;
    font-size: 10px;
    width: 100%;
  }

  .mood-grid-box {
    width: 25%;
    display: inline-block;
    padding: 15px;
    i.fa {
      position:inherit;
      margin: 0;
      font-size: 5.5em;
    }
    img {
      width: 40%;
      position: relative;
      bottom: 18px;
    }
  }
}

@media(max-width: $break-md){
  .searchDiv .input {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
  }
}
