@import '../base/colors';
@import '../base/fonts';
@import '../base/media';

nav {
  #nav-logo {
    width: 100%;
  }
}

nav.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: $navbar;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 13;
  color: $subtle;
  box-shadow: inset -2px 0 6px 0 rgba(0,0,0,.4);
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  div.sidebar {
    width: 100%;
  }
  .sidebar-brand {
    text-align: center;
    font-weight: 700;
    color: #ff6000;
    padding: 20px;

    font-family: "Archer Book", serif;
    font-size: 1.4em;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $subtle;
    }
  }

  .side-item {
    margin-bottom: 50px;
    margin-left: 16px;
    i {
      float: right;
      position: relative;
      text-align: right;
      right: 11px;
      top: 5px;
    }
  }

  .sidebar-nav {
    list-style-type: none;
    padding-left: 0;
  }

  .sidebar-end {
    position: absolute;
    bottom: 50px;
    left: -20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    .side-item {
      margin: 0px;
    }
  }
}

article.content {
  width: 100%;
  margin-left: 200px;
  margin-bottom: 65px;
  -webkit-transition: margin-left .5s ease-in-out;
  -moz-transition: margin-left .5s ease-in-out;
  -o-transition: margin-left .5s ease-in-out;
  transition: margin-left .5s ease-in-out;
}

@media (max-width:$break-md) {
  nav.sidebar {
    left: -167px
  }
  .sidebar:hover {
    left: 0px;
  }

  article.content {
    margin-left: 33px;
  }
}
