.pod-box {
  padding: 0;
  position: relative;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  // transition: all 200ms ease-in;
  transform: scale(1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    // box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.15);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: scale(1.15);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }



  img {
    width: 150px;
    height: 150px;
  }
  .overlay {
    position: absolute;
    top: 50%;
    right: 0;
  }
}
.pod-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
