.timeline-item {
    display: inline-flex;
    width: 100%;
    img {
      width: 75px;
      height: 75px;
      margin-right: 25px;
    }
    .card {
        width: 100%;
        margin-bottom: 5px;
    }
}
