.timeline-item {
    display: inline-flex;
    width: 100%;
    margin-left: 47px;
    padding-left: 23px;
    border-left: 1px dashed white;
    img {
      // width: 75px;
      height: 75px;
      margin-right: 25px;
    }
    .card {
        width: 100%;
        margin-bottom: 5px;
    }
}
.date-item {
  color: #c0c5c5;
  font-size: 1.2em;
  font-family: "Archer Book", serif;
  font-style: italic;
}
